.wrapper {
  position: relative;
  background-color: #fbfbfb;

  .container {
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: white;
    height: 60%;
    width: 60%;
    border-radius: 100%;
    overflow: visible;
  }
}
