.main {
  display: flex;
  flex-direction: column;
  row-gap: 7.52vh;
  background-color: white;
  margin-left: calc(6.25vh + 2vw);
  padding-right: 6.25vw;
  padding-left: 7.43vw;
  padding-bottom: 8.4vh;
  padding-top: 6.64vh;
  .userInfos {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
  }

  .h1 {
    font-weight: 500;
    font-size: 48px;
    text-transform: capitalize;
  }

  .userName {
    color: #ff0101;
  }

  .congrats {
    font-size: 18px;
    font-weight: 400;
  }

  .chartWrapper {
    display: flex;
    gap: 2.1vw;
    width: 78vw;
  }

  .charts {
    display: flex;
    flex-direction: column;
    gap: 2.9vh;
  }

  .smallCharts {
    display: flex;
    justify-content: space-between;
    gap: 2.1vw;
    height: 18.1vw;

    article {
      width: 18.1vw;
      border-radius: 10px;
    }
  }

  .capsules {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
