.header {
  display: flex;
  align-items: center;
  gap: 10.4vw;
  font-size: 24px;

  .navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .link {
    text-decoration: none;
    color: white;
  }
}
