.header {
  display: flex;
  align-items: center;
  gap: 10.4vw;
  font-size: 24px;
  margin: 1.11vw 0;
  padding-right: 6.25vw;

  .navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .link {
    text-decoration: none;
    color: white;
  }
}
