.footer {
  position: absolute;
  bottom: 2.5vw;
  left: 3vw;
  color: transparent;
  width: 7vw;
  transform: rotate(-90deg);
  transform-origin: top left;
  z-index: -1;

  .text {
    font-size: 12px;
    line-height: 24px;
    color: white;
    margin: 0;
    white-space: nowrap;
  }
}
