.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 1.7vw;
  background-color: #fbfbfb;
  border-radius: 10px 10px 0 0;
  padding: 2.2vw;
  width: 16vw;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    line-height: 24px;
  }

  .value {
    font-size: 20px;
    font-weight: 700;
  }

  .kind {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
  }
}
