@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body,
h1,
h2,
main,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: black;
  margin-left: 2vw;
}
