.article {
  position: relative;
  background-color: #fbfbfb;
  height: 31.25vh;
  width: 58vw;
  padding: 2.25vh 2.1vw;

  .legend {
    font-size: 14px;
    font-weight: 500;
    color: #7479bc;
    padding-left: 0.7vw;
    padding-right: 2.22vw;
  }

  .title {
    position: absolute;
    top: 0;
    left: -11px;
    font-size: 15px;
    color: #20253a;
  }
}
