@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: black;
  margin: 1.25vw 6.25vw 0 2vw;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: calc(100vh - 61px - 2.5vw);
    margin: 1.25vw -6.25vw 0 calc(6.25vh + 2vw);
  }
}
